.vscode/**
docs/**
src/**
test/**
node_modules/**
esbuild.js
eslint.config.mjs
tsconfig.json
bunfig.toml
.prettierrc
.prettierignore
images/icon.svg
**/*.map
**/*.ts
.gitignore
*.vsix
bun.lock
package-lock.json
